doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Snowday - Cipher
    link(href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    link(rel="stylesheet" href="assets/css/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="assets/css/font-awesome.min.css", attr)
    link(rel="stylesheet", href="assets/css/master.css", attr)
  body
    .hero      
      .main    
        include assets/img/logo.svg
        .badge-outline
          .badge
            h1 snow day
            p a 12-hour hackathon for high schoolers
                  
        .social
          ul
            a(href="https://www.facebook.com/projectcipher")
              i(class="fa fa-facebook icon-medium" aria-hidden="true")
            a(href="https://twitter.com/projectcipher")
              li 
               i(class="fa fa-twitter icon-medium" aria-hidden="true")
            a(href="https://www.instagram.com/projectcipher/")
              i(class="fa fa-instagram icon-medium" aria-hidden="true")          
        
        .register-button
          h5 register now
            
        
      .nav
        .container
          ul
            a(href="#description")
              li about
            a(href="#faqs")
              li faqs
            a(href="#why-come")
              li why come
            a(href="#sponsors")
              li sponsors
            a(href="#footer")
              li register
        
    #description.content
      .container
        h3 what is snowday?
        p snowday is an introductory hackathon, an event where people come together to code dope projects. at snowday, you will have 12 hours to make your idea into a reality in groups of 4.
        
        ul
          li
            span 12
            |  hours
          li
            span 100
            |  attendees 
          li
            span 2
            |  winning teams       
      
    #why-come.content
      .container
        h3 but why even come?
        .row
          .col-md-6.col-xs-12
            h4 a lot of swag
            p hackathons are known for their swag and what would snowday be without some of its own swag. so stay tuned for the free stuff throughout the event we will be handing out throughout your time at snowday.
          .col-md-6.col-xs-12
            h4 delicious food
            p if you like food you’ll like snowday. a day's worth of food will be provided to you starting with breakfast and ending with dinner. most important, you don't worry about your the dietary restrictions, we've got you covered. also there will be plenty of snack to munch on throughout the day.
        .row
          .col-md-6.col-xs-12
            h4 interesting speakers 
            p.second-last a hackathon isn't complete without a few great talks from people in the industry. come make connections and learn something new while doing so.  
          .col-md-6.col-xs-12
            h4 people like you
            p.last the best part of hackathons are the people, just like you. no matter if you are a beginner or batman, everyone has one common goal&#8212;to create something cool.
      
    #video
      .button-holder
        .register-button.purple.intense-shadow
          h5 sign up now
      video(autoplay loop)
        source(src="assets/img/bonfire17video.mp4")  
        
    #faqs.content
      .container
        h3 frequently asked questions
        .row
          .col-md-6.col-xs-12
            h4 how much will it cost?
            p absolutely nothing! breakfast lunch and dinner will be provided free of cost, and snacks will be available throughout the day if you get hungry. there is no entrance fee either.
          .col-md-6.col-xs-12
            h4 what should i bring?
            p your laptop, phone, chargers, student id, a sleeping bag, extension cords. food will be provided!
        .row
          .col-md-6.col-xs-12
            h4 how will i find a team?
            p although it is recommended you find a team beforehand, we will match all those who do not have a team with others who need a team. we will ensure no one is left behind!
          .col-md-6.col-xs-12
            h4 what if i've never been to a hackathon?
            p no problem. bonfire is as much about learning as it is about hacking. we'll have experienced mentors who can help groups who may not have attended a hackathon before, or are new to programming in general.
        .row.last
          .col-md-6.col-xs-12
            h4 what can i win?
            p there will be different prizes for different categories and they will be announced at a later date.
         
    #sponsors.content
      .container
        h3 a big thanks to:
        .img-container
          img(src="assets/img/access.png", alt="alt")
          img(src="assets/img/unitedway.png", alt="alt")
    #footer.content
      .container
        h3 feel free to reach out to us
        .social
          ul
            a(href="https://www.facebook.com/projectcipher")
              i(class="fa fa-facebook fa-2x" aria-hidden="true")
            a(href="https://twitter.com/projectcipher")
              li 
               i(class="fa fa-twitter fa-2x" aria-hidden="true")
            a(href="https://www.instagram.com/projectcipher/")
              i(class="fa fa-instagram fa-2x" aria-hidden="true")
        .center
          .register-button.purple
            h5 sign up now
        
      
      
      
      
